{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true
  },
  "globals": { "document": true, "window": true, "fetch": true },
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 1,
    "react/jsx-filename-extension": [
      1 /*1 - regula wlaczona , 0 - regulywa off*/,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}

// puszczanie eslinta w terminalu i sprawdzanie co przechodzi przez niego  npx eslint src/**/*.js
